{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/log.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
<style>
        #messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
		#msg{
			position: fixed;
            top: 10px;
            right: 100px;
            z-index: 1;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		}
</style>
  </head>
  <body>

    <div id="page-header" class="bg-gray-light">
        <header class="container-xl px-3 px-md-6 py-3 position-relative d-flex flex-justify-between width-full">
          <div id="support-logo" class="d-flex flex-items-end">
            <a href="/" aria-hidden="true">
              <img id="logo" src="{% static 'images/log.png' %}" alt="">
            </a>
            <a href="{% url 'welcome' %}" aria-label="Home" class="h4-mktg text-gray-dark ml-2 no-underline">
              <i>Enhancements</i>
          </a>
          </div>
          {% if request.user.is_authenticated %}
          <div id="header-buttons" class="d-flex flex-items-end">
                <a href="#"><img class="avatar mr-4" alt="jonrohan" src="{% static 'images/dude.jpeg' %}"  style="border-radius: 30px;" width="48" height="48" title="Raghav Gade"/></a>
                <form id="github-signout" >
                  <b><a href="{% url 'signout'%}">Sign out</a></b>
                </form>       
          </div>
          {% else %}
          <div id="header-buttons" class="d-flex flex-items-end">
                <a href="#"><img class="avatar mr-4" alt="jonrohan" src="{% static 'images/dude.jpeg' %}"  style="border-radius: 30px;" width="48" height="48" title="Raghav Gade"/></a>
                <form id="github-signout" >
                  <b><a href="{% url 'signin'%}">Admin-SignIn</a></b>
                </form>       
          </div>

          {% endif %}
        </header>
      </div>
      {% block content %}
      {% endblock %}
      <div id="page-footer" class="d-flex flex-items-center">
        <div class="container-xl f6 mt-3">
          <ul class="list-style-none d-flex text-gray">
            <li><a class="link-gray" href="https://gade-raghav.github.io" target="blank">Raghav Gade</a></li>
          </ul>
        </div>
      </div>
  </body>
  <script src="/static/mdeditor/languages/en.js"></script>
</html>