{% extends 'base/main.html'%}
{% block title %}New feature - Enhancements{% endblock %}
{% load static %}
{% block content%}
{% load crispy_forms_tags%}



<main class="container-lg px-3 pb-4">
    <h1 class="border-bottom h1 my-3 my-lg-4">Add new project</h1>
        <form action="" autocomplete="off" method="POST">
            {% csrf_token %}
            {{ form.media}}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-sm btn-danger "  href="{% url 'features' %}">Cancel</a>
        </form>
    
  </main>



{% endblock %}