{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sign in to Enhancements</title>
    <link rel="shortcut icon" href="{% static 'images/log.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
    #messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
		#msg{
			position: fixed;
            top: 10px;
            right: 100px;
            z-index: 1;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		}
    </style>

  </head>
   {% include 'base/messages.html' %}
  <body style="margin: 155px;">

       <div class="container">
        <div class="row justify-content-center">
            <div class="column">
                <div class="col-md-3">
                    <div class="card border-secondary" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text" style="text-align: center;"><img style="width: 40px;" src="{%static 'images/offlog3.png'%}" alt=""><br><br><b>Sign in</b></p>
                            <form method="POST">
                                {% csrf_token %}
                                {{form|crispy}}
    
                                <div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn btn-primary" type="submit" value="Login">
                               </div>
                                <!--
                                <div class="input-group mb-3">
							        <input type="text" name="username" placeholder="Username..." class="form-control">
                                </div>
                                <div class="input-group mb-2">
								    <input type="password" name="password" placeholder="Password..." class="form-control" >
                                </div>
                                <div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn btn-primary" type="submit" value="Login">
                               </div>
                            -->
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <script>
		setTimeout(function(){
			if ($('#msg').length > 0) {
				$('#msg').fadeIn( 400 ).delay( 4000 ).fadeOut( 400 );
			}
		})
	</script>



  </body>
</html>