{% extends 'base/main.html'%}
{% load static %}
{% load humanize %}

    <style>
        .container-lg{
            margin-top: 40px;
        }
    </style>

{% block content %}    

<div class="container-lg px-3 pt-6 pb-4">
<div class="card col-12">
    <div class="col-12 clearfix mt-2">
        <div class="d-flex float-right" style="margin-right: 10px;">
            <a class="btn btn-sm btn-primary mb-2 mt-2"  href="{% url 'features' %}">Return to features</a>
        </div>
      </div>
    <p style="font-size: 30px;">{{ feature.feature_name }}</p>
    Added this feature {{feature.updated_at|naturaltime}}: 1 comment
    <hr>
</div>
</div>

{% endblock %}


