{% extends 'base/main.html'%}
{% load static %}
{% block title %} Enhancements-{{project.project_title}} {% endblock %}
{% load humanize %}
{% load crispy_forms_tags%}

{% block content %}

<style> .frame-example { min-height: 500px; } </style>
<link href="https://unpkg.com/@github/details-dialog-element/dist/index.css" rel="stylesheet" />

<div class="container-lg px-3 p-2"> 
        <div>
            <div class="col-12 clearfix mt-2">
                <div class="d-flex float-right" style="margin-right: 10px;">
                    <div class="UnderlineNav-actions">
                        <form id="tickets-refresh" class="d-inline"  >
                          <input type="submit" onclick="window.location.reload();" value="Refresh" class="btn btn-sm mr-2" />
                        </form>            
                        <a class="btn btn-sm btn-primary mb-2 mt-2"  href="{% url 'tickets' %}">Return to tickets</a>
                      </div>

                </div>
            </div>
            <h1 class="" style="font-weight: normal;">{{ ticket.subject }} #{{ticket.tracking_id}} </h1>
            <details class="details-reset details-overlay details-overlay-dark">
              <summary >
                {% if ticket.ticket_status == "Open"%}
                <span class="State" style="width:100px; background-color: yellowgreen;">{{ticket.ticket_status}}</span>
                {% elif ticket.ticket_status == "Closed"%}
                <span class="State" style="width:100px; background-color: rgb(231, 28, 28);">{{ticket.ticket_status}}</span>
                {% elif ticket.ticket_status == "Resolved"%}
                <span class="State" style="width:100px; background-color: #3ebe63;">{{ticket.ticket_status}}</span>
                {% endif %}
              </summary> 
              <details-dialog style="display: inline-block;" class="Box Box--overlay d-flex flex-column anim-fade-in fast">
                <div class="Box-header">
                  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                    <!-- <%= octicon "x" %> -->
                    <a href="{%url 'ticket' ticket.tracking_id%}" ><svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path></svg></a>
                  </button>
                  <h3 class="Box-title">Change Status</h3>
                </div>
                <div class="overflow-auto">
                  <div class="Box-body overflow-auto">
                    <p>
                      <form action="" autocomplete="off" method="POST">
                        {% csrf_token %}
                        {{ form2|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </p>
                  </div>
                </div>
              </details-dialog>
            </details>
            
              <text style="color: gray; display: inline-block;"> <strong>{{username}}</strong> opened this ticket on {{ticket.date_created}}</text>
            <hr>
            <div class="pl-8 pr-4 pb-8 pt-4">
                <div class="TimelineItem" >
                <div class="TimelineItem-badge" >
                    <strong>I</strong>
                  </div>
                <div class="timeline-comment-group TimelineItem-body my-0">
                  <div class="ml-n3 timeline-comment comment timeline-comment--caret">
                    <div class="timeline-comment-header clearfix">
                      <div class="pl-4">
                       <span class="text-gray-dark mr-1 css-truncate">
                            <strong class="css-truncate">
                              <span class="text-gray-dark css-truncate-target width-fit">
                                        <strong>{{username}}</strong>
                              </span>
                            </strong>
                          
                        </span>
                        commented on <text style="color: gray;">{{ticket.date_created}} </text>

                      </div>
            
                    </div>
                    <div class="Box ml-4" style="border-radius: 0;">
                        <p><div class="pl-3" id="content"><textarea>{{ ticket.bug_description}}</textarea></div></p>
                    </div>
                  </div>
                </div>
              </div>
                {% for comment in comments %}
                {% if comment.tracking.tracking_id == ticket.tracking_id %}
              <div class="TimelineItem" >
                <div class="TimelineItem-badge" >
                    <strong>C</strong>
                  </div>
                <div class="timeline-comment-group TimelineItem-body my-0">
                  <div class="ml-n3 timeline-comment comment timeline-comment--caret">
                    <div class="timeline-comment-header clearfix">
                      <div class="pl-4">
                       <span class="text-gray-dark mr-1 css-truncate">
                            <strong class="css-truncate">
                              <span class="text-gray-dark css-truncate-target width-fit">
                                  {% if comment.user == "AnonymousUser" %}
                                        <strong>{{username}}</strong>
                                  {% else %}  
                                        <strong>{{comment.user}}</strong>
                                  {% endif %}
                              </span>
                            </strong>
                          
                        </span>
                        commented on <text style="color: gray;">{{comment.date_created}} </text>

                      </div>
            
                    </div>
                    <div class="Box ml-4" style="border-radius: 0;">
                      <div class="pl-3 pt-2">
                          <p>
                              {{comment.comment}}
                          </p>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% if comments %}
              <hr class="m-0">
              {% endif %}
              <br>
              {% if ticket.ticket_status == "Resolved" %}
              <b>Issue Resolved. Open new ticket for other queries.</b>
              {% else %}
              <div style="width: 400px; ">
              <form action="" autocomplete="off" method="POST">
                {% csrf_token %}
                {{ form.media}}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-sm btn-danger "  href="{% url 'ticket' ticket.tracking_id%}">Cancel</a>
            </form>
              </div>
              {% endif %}
            </div>
        </div>
</div>

<script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
  $(function () {
      // js 解析markdown
      editormd.markdownToHTML("content", {
          //htmlDecode      : "style,script,iframe",  // you can filter tags decode
          emoji           : true,
          taskList        : true,
          tex             : true,  // 默认不解析
          flowChart       : true,  // 默认不解析
          sequenceDiagram : true,  // 默认不解析
      });


      $(".reference-link").each(function (i,obj) {
        console.log(obj)
      })
  })
</script>
  <script src="/static/mdeditor/languages/en.js"></script>


{% endblock %}