{% extends 'base/main.html' %}
{% load static %}
{% load humanize %}

  {% block title %}Enhancements-Tickets{% endblock %}


  {% block content%}

    
{% include 'base/messages.html' %}

    <main class="container-lg px-3 pb-4">


      <div class="col-12 clearfix mt-2">
        <div class="d-flex float-right">
          <div class="Box border-green mr-1"><b class="p-1">beta</b></div>
          <a class="link-gray float-right" href="{% url 'feedback' %}">Give feedback</a>
        </div>
      </div>
    
      <div id="project-list">
        <div class="Box Box--spacious f4 mt-2">
          <div class="Box-header pb-0">
            <h3 class="Box-title flex-auto mb-4">
                Tickets
                <a href="{% url 'welcome' %}" aria-label="help" title="help"> <svg class="octicon octicon-question float-right" height="24" viewBox="0 0 24 24" version="1.1" width="24" aria-hidden="true"><path d="M10.97 8.265a1.45 1.45 0 00-.487.57.75.75 0 01-1.341-.67c.2-.402.513-.826.997-1.148C10.627 6.69 11.244 6.5 12 6.5c.658 0 1.369.195 1.934.619a2.45 2.45 0 011.004 2.006c0 1.033-.513 1.72-1.027 2.215-.19.183-.399.358-.579.508l-.147.123a4.329 4.329 0 00-.435.409v1.37a.75.75 0 11-1.5 0v-1.473c0-.237.067-.504.247-.736.22-.28.486-.517.718-.714l.183-.153.001-.001c.172-.143.324-.27.47-.412.368-.355.569-.676.569-1.136a.953.953 0 00-.404-.806C12.766 8.118 12.384 8 12 8c-.494 0-.814.121-1.03.265zM13 17a1 1 0 11-2 0 1 1 0 012 0z"></path><path fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zM2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0z"></path></svg> </a>
            </h3>
            <nav class="UnderlineNav">
              <div class="UnderlineNav-body">
                <a class="UnderlineNav-item" href="{% url 'home' %}"  aria-current=&quot;page&quot;>Projects</a>
                &nbsp;
                &nbsp;
                <a class="UnderlineNav-item" href="{% url 'features' %}"  aria-current=&quot;page&quot;>Enhancements</a>
                &nbsp;
                &nbsp;
                <a class="UnderlineNav-item" href="{% url 'tickets' %}"  aria-current=&quot;page&quot;>Tickets</a>
              </div>
              <div class="UnderlineNav-actions">
                <form id="tickets-refresh" class="d-inline"  >
                  <input type="submit" onclick="window.location.reload();" value="Refresh" class="btn btn-sm mr-2" />
                </form>            
                <a class="btn btn-sm btn-primary mb-2 mt-2"  href="{% url 'newticket' %}">New ticket</a>
              </div>
            </nav>
          </div>

          <ul>

            {% for ticket in tickets  %}
            <li class="Box-row Box-row--hover-gray p-0 mt-0">
                <div class="ml-2 p-2 col-12">
                  <span class="tooltipped tooltipped-e float-left" aria-label="Closed ticket">
                    <span class="v-align-middle">
                      {% if ticket.bug_severity == "Low" %}
                      <svg id="low" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="26" height="26"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
                      {% elif ticket.bug_severity == "Minor" %}
                      <svg id="minor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="26" height="26"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
                      {% elif ticket.bug_severity == "Major" %}
                      <svg id="major" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="26" height="26"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
                      {% elif ticket.bug_severity == "Critical" %}
                      <svg id="critical" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="26" height="26"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
                      {% else %}
                      <svg id="issue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>
                      {% endif %}
                    </span>
                  </span>
                  <div class="col-12 clearfix">
                    <div class="col-6 pl-2 min-width-0 float-left"> 
                      {% if request.user.is_authenticated %}
                      <a class="link-gray-dark no-underline v-align-middle h4" href="{%url 'ticket' ticket.tracking_id %}">{{ticket.subject}} (Application: <i>{{ticket.project}}</i>)</a> 
                      <a href="{% url 'ticketedit' ticket.tracking_id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20"><path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path></svg></a>
                      {% else %}
                      <a class="link-gray-dark no-underline v-align-middle h4" href="{%url 'ticket' ticket.tracking_id %}">{{ticket.subject}} (Application: <i>{{ticket.project}}</i>)</a>
                      {% endif %}
                    </div>
              
                    <div class="col-2 offset-1 comment-reply px-2 float-right text-right ">
                    </div>
                  </div>
              
                  <div class="col-12 clearfix">
                    <div class="col-6 pl-2 text-small text-gray float-left">
                      #{{ticket.tracking_id}} 
                      created {{ticket.date_created}}
                    </div>
                    <div class="col-4 offset-1 text-small text-gray float-left">
                      updated {{ticket.updated_at|naturaltime}}
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
      
      </ul>
    
            
    
    
      </div>
      <details class="details-reset mt-3">
        <summary class="btn-link" style="outline: none;">Help <span class="dropdown-caret"></summary>
            Bug Severity
          <li>
              <svg id="low"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>&nbsp;->&nbsp;  Low
      </li>
      <li>
        <svg id="minor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>&nbsp;->&nbsp; Minor 
      </li>
      <li>
        <svg id="major" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>&nbsp;->&nbsp; Major
      </li>
      <li>
          <svg id="critical" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>&nbsp;->&nbsp; Critical
      </li>
      <li>
          <svg id="issue" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>&nbsp;->&nbsp; Not a bug/Issue
      </li>
      </details>
      <br>


    </main>
    <script>
    setTimeout(function(){
			if ($('#msg').length > 0) {
				$('#msg').fadeIn( 400 ).delay( 1500 ).fadeOut( 400 );
			}
     });

    </script>


      
{% endblock %}